<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RantaConfig" type="Ranta.RantaConfig, Ranta.Common" />
  </configSections>
  <system.serviceModel>
    <client>
      <endpoint name="LogServiceEndpoint" address="http://log.ranta.cn:8877" binding="basicHttpBinding" contract="Ranta.LogMagic.Contract.ILogService">
      </endpoint>
    </client>
  </system.serviceModel>
  <RantaConfig>
    <AppId>100067</AppId>
  </RantaConfig>
</configuration>